<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Extra Marital Affair Prediction</title>

</head>

    <body style="background-color: DarkSeaGreen ;">
            <div class="content">
                <h1 style="text-align: center">Extra Marital Affair Prediction</h1>

                <div class="form">
                    <p><b>Enter the Required Parameters :</b></p>
                    <form action="/Prediction" method="POST" autocomplete="on">

                        <label for="Rate_Marriage">Rate_Marriage</label>
                        <select name="Rate_Marriage" id="Rate_Marriage">
                            <option value=1>very poor</option>
                            <option value=2>poor</option>
                            <option value=3>Ok</option>
                            <option value=4>good</option>
                            <option value=5>very good</option>
                        </select>
                        &nbsp; &nbsp;
                        <label for="Age">Age</label>
                        <input type="number" name="Age" id="Age" placeholder="Woman's Age" step="any">
                        &nbsp; &nbsp;
                        <label for="YearsMarried">Years_Married</label>
                        <input type="number" name="YearsMarried" id="YearsMarried" placeholder="number of years married" step="any">
                        &nbsp; &nbsp;
                        <label for="Children">Children</label>
                        <input type="number" name="Children" id="Children" placeholder="number of children">
                        &nbsp; &nbsp;
                        <label for="Religious">Religious</label>
                        <select name="Religious" id="Religious">
                            <option value=1>Not Religious</option>
                            <option value=2>Neutral</option>
                            <option value=3>Slightly Religious</option>
                            <option value=4>Strongly Religious</option>
                        </select>
                        <br><br>
                        <label for="educ">Education</label>
                        <select name="Education" id="educ">
                            <option value=9>grade school</option>
                            <option value=12>high school</option>
                            <option value=14> some college</option>
                            <option value=16>college graduate</option>
                            <option value=17>some graduate school</option>
                            <option value=20>advanced degree</option>
                        </select>
                        &nbsp; &nbsp;
                        <label for="occ">Woman's Occupation</label>
                        <select name="WomansOccupation" id="occ">
                            <option value=2>Farming/Semi-Skilled/Unskilled</option>
                            <option value=3>White Collar</option>
                            <option value=4>teacher/nurse/writer/technician/skilled</option>
                            <option value=5>managerial/business</option>
                            <option value=6>professional with advanced degree</option>
                        </select>
                        &nbsp; &nbsp;

                        <label for="occh">Husband's Occupation</label>
                        <select name="HusbandsOccupation" id="occh">
                            <option value=2>Farming/Semi-Skilled/Unskilled</option>
                            <option value=3>White Collar</option>
                            <option value=4>teacher/nurse/writer/technician/skilled</option>
                            <option value=5>managerial/business</option>
                            <option value=6>professional with advanced degree</option>
                        </select>

                        <input type="submit" value="Predict">
                    </form>
                    <br><br>

                    <div style="text-align : center ;">
                    <img src="https://source.unsplash.com/1600x900/?couple" alt="Couple" style="text-align : center ;">
                    </div>
                </div>
            </div>
    </body>
</html>

